.title
	&-light
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
	&-section
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
		color: $mainColorDark
		padding-left: rem(14px)
		border-left: 10px solid $lightColor
		&-light
			font-size: rem(36px)
			font-family: $titleFont, sans-serif
			margin-top: 0
			color: #fff
			padding-left: rem(14px)
			border-left: 10px solid $mainColorLighten
.flex-container
	display: flex
.space-between
	justify-content: space-between
hr
	margin: 0
	border-color: #dde1e4
.center-text
	text-align: center
.button
		display: inline-block
		padding: rem(15px) rem(20px)
		border: 2px solid #fff
		border-radius: 5px
		color: #fff
		text-decoration: none
		text-transform: uppercase
		font-family: $titleFont, sans-serif
		font-size: 1rem
		outline: none
		transition: background-color, border-color, .2s
		&:hover
			background-color: $accentColor
			border-color: $accentColor
.slider-button
	&:last-child
			margin-left: rem(11px)