.title
	&-light
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
	&-dark
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
		color: $mainColorDark
		padding-left: rem(14px)
		border-left: 10px solid $lightColor
.flex-container
		display: flex
hr
	margin: 0
	border-color: #dde1e4