.title
	&-light
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
	&-dark
		font-size: rem(36px)
		font-family: $titleFont, sans-serif
		margin-top: 0
		color: $mainColorDark
.flex-container
		display: flex